@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    position: relative;
    width: 1620px;
    height: 5055px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #31456A;
    background: #F6F8F9;
}

/* Псевдоклассы и псевдоэлементы */

.main-menu a:hover {
    color: #EFBB03;
}

.main-menu a:active {
    font-size: 20px;
}

.title p::selection {
    color: #080808;
    background-color: #EFBB03;
}

/* HEADER */
nav {
    position: absolute;
    color: #31456A;
}

nav.main-menu {
    left: 300px;
    top: 30px;
    width: 1108px;
    height: 55px;
}

a {
    position: absolute;
    text-decoration: none;
}

a.item1,
a.item2,
a.item3 {
    top: 20%;
    bottom: 20%;
    font-size: 16px;
    color: #31456A;
}

a.item1 {
    left: 8.39%;
    right: 79.96%;
    z-index: 1;
}

a.item2 {
    left: 22.74%;
    right: 67.06%;
}

a.item3 {
    left: 35.65%;
    right: 55.32%;
}

a.button {

    left: 1103px;
    top: 56px;
    z-index: 1;
    font-weight: bold;
    color: #31456A;
}

/* MAIN */
/* section */

h1,
h2 {
    position: absolute;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.title h1,
.description h2 {
    font-size: 24px;
}

.title h1 {
    left: 720px;
    top: 448px;
    width: 500px;
    height: 28px;
}

p {
    position: absolute;
    line-height: 16px;
}

.title p {
    left: 720px;
    top: 500px;
    width: 245px;
    height: 59px;
}

.description h2 {
    left: 540px;
    top: 802px;
    width: 457px;
    height: 101px;
    line-height: 28px;
}

p.paragraph1 {
    left: 540px;
    top: 927px;
    width: 373px;
    height: 76px;
    font-size: 14px;
    font-weight: 500;
}

p.paragraph2 {
    left: 540px;
    top: 1036px;
    width: 331px;
    height: 19px;
    font-size: 14px;
    font-weight: 600;
}

/* nav.options */

.options h2 {
    left: 588px;
    top: 1260px;
    width: 264px;
    height: 37px;
}

.options p {
    top: 1350px;
    font-weight: bold;
    font-size: 16px;
}

.options a {
    color: #8CA2B7;
}

p.option1 {
    left: 138px;
    width: 79px;
}

a.mode1 {
    left: 118px;
    top: 1403px;
    width: 118px;
}

a.mode2 {
    left: 127px;
    top: 1432px;
    width: 100px;
}

p.option2 {
    left: 317px;
    width: 80px;
    height: 16px;
}

a.mode3 {
    left: 317px;
    top: 1403px;
    width: 80px;
}

a.mode4 {
    left: 313px;
    top: 1432px;
    width: 89px;
}

a.mode5 {
    left: 289px;
    top: 1463px;
    width: 137px;
}

a.mode6 {
    left: 286px;
    top: 1494px;
    width: 142px;
}

p.option3 {
    left: 478px;
    width: 133px;
    height: 16px;
}

a.mode7 {
    left: 515px;
    top: 1403px;
    width: 60px;
}

a.mode8 {
    left: 501px;
    top: 1432px;
    width: 88px;

}


a.mode9 {
    left: 520px;
    top: 1461px;
    width: 49px;

}

p.option4 {
    left: 693px;
    width: 74px;
    height: 19px;
}

a.mode10 {
    left: 697px;
    top: 1406px;
    width: 66px;
}

a.mode11 {
    left: 685px;
    top: 1434.8px;
    width: 89px;

}

a.mode12 {
    left: 661px;
    top: 1465.57px;
    width: 137px;

}

a.mode13 {
    left: 694px;
    top: 1496.34px;
    width: 72px;

}

p.option5 {
    left: 881px;
    width: 78px;
    height: 21px;
}

a.mode14 {
    left: 880px;
    top: 1408px;
    width: 80px;

}

a.mode15 {
    left: 848px;
    top: 1437px;
    width: 144px;
}

p.option6 {
    left: 1049px;
    width: 66px;
    height: 16px;

}

a.mode16 {
    left: 1042px;
    top: 1403px;
    width: 80px;

}

a.mode17 {
    left: 1043px;
    top: 1432px;
    width: 78px;

}

p.option7 {
    left: 1172px;
    width: 150px;
    height: 16px;

}

a.mode18 {
    left: 1176px;
    top: 1403px;
    width: 142px;
}

/* section */

.offer h2 {
    left: 255px;
    top: 1660px;
    z-index: 1;
    width: 208px;
    height: 41px;

}

p.about-offer {
    left: 255px;
    top: 1731px;
    width: 341px;
    height: 57px;
    z-index: 1;
    font-size: 14px;
}

a.button2 {
    left: 299px;
    top: 1830px;
    z-index: 2;
    font-weight: bold;
    color: #31456A;

}

.plan h2 {
    left: 823px;
    top: 2165px;
    width: 300px;
    height: 41px;

}

p.step1 {
    left: 924px;
    top: 2266px;
    width: 188.57px;
    height: 37px;

}

p.step2 {
    left: 1024px;
    top: 2410px;
    width: 227px;
    height: 40px;

}

p.step3 {
    left: 922px;
    top: 2560px;
    width: 239px;
    height: 28px;

}

a.button3 {
    left: 890px;
    top: 2712px;
    z-index: 2;
    font-weight: bold;
    color: #31456A;
}

/* section */

.privilege h2 {
    left: 594px;
    top: 2971px;
    width: 253px;
    height: 38px;
}

p.ability1,
p.ability2,
p.ability3 {
    top: 3261px;
}

p.ability1 {
    left: 346px;
    width: 190px;
    height: 45px;
}

p.ability2 {
    left: 639px;
    width: 154px;
    height: 18px;
}

p.ability3 {
    left: 916px;
    width: 185px;
    height: 27px;
}

/* section */

.reviews h2 {
    left: 825px;
    top: 3580px;
    width: 137px;
    height: 46px;
}

p.person {
    left: 905.88px;
    top: 3698.59px;
    width: 65.89px;
    height: 18.88px;
    font-size: 16px;
}

p.rating {
    top: 3722.17px;
    left: 906.16px;
    width: 100px;
    color: #080808;
}

span#stars {
    color: #EFBB03;
}

p.review {
    left: 825px;
    top: 3783.06px;
    width: 427px;
    height: 127.94px;

}

/* article */

.news h2 {
    left: 680px;
    top: 4043px;
    width: 143px;
    height: 33px;
}

/* footer */

.bottom {
    position: absolute;
    left: 0px;
    top: 4905px;
    width: 100%;
    height: 150px;
    background: #4097E3;
}

nav.footer {
    position: absolute;
}

a.footer1,
a.footer2,
a.footer3,
a.footer4,
a.email,
p.privacy-policy,
a.privacy-policy2 {
    color: #FFFFFF;
}

a.footer1,
a.footer3,
a.footer4,
p.address,
p.follow-us {
    top: 20px;
}

p.address,
p.follow-us {
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    color: #9ECDF6;
}

a.footer1 {
    width: 113px;
    height: 22.49px;
    left: 181px;
}

a.footer2 {
    position: absolute;
    left: 181px;
    top: 60px;
    width: 99px;
    height: 22.49px;
}

a.footer3 {
    position: absolute;
    left: 345px;
    width: 88px;
    height: 22.49px;

}

a.footer4 {
    position: absolute;
    left: 506px;
    width: 112px;
    height: 22.49px;
}

p.address {
    left: 698px;
    width: 109px;
}

a.email {
    left: 698px;
    top: 60px;
    width: 106px;
    height: 22px;
    line-height: 22px;
}

p.follow-us {
    position: absolute;
    left: 857px;
    width: 98px;
}

p.privacy-policy,
a.privacy-policy2 {
    left: 181px;
    bottom: 0px;
    width: 500px;
    height: 9px;
    font-size: 10px;
    line-height: 9px;
}

a.privacy-policy2 {
    text-decoration: underline;
}

/* Все изображения сайта */

img {
    position: absolute;
}

#button {
    left: 1038px;
    top: 42px;
}

#menu-logo {
    left: 180px;
    right: 95.22%;
    top: 10px;
    bottom: 1.82%;
    z-index: 1;
    width: 200px;

}

#left-circle {
    left: 0px;
    top: 0px;
    width: 500px;

}

#right-circle {
    right: 0px;
    top: 0px;
    width: 367px;
}

#page-logo {
    left: 349px;
    top: 170px;
    width: 712px;
    height: 293px;

}

#character1 {
    left: 951px;
    top: 198px;
    width: 364px;
    height: 399px;

}

#character2 {
    left: 163px;
    top: 680px;
    width: 320px;
    height: 400px;

}

#gift-box {
    left: 798px;
    top: 843px;
    width: 426.83px;
    height: 393.14px;

}

#button2 {
    left: 256px;
    top: 1818px;
    z-index: 1;
}

#background-image {
    left: 140px;
    top: 1544px;
    width: 1160px;
    height: 477px;

}

#hands {
    left: 586px;
    top: 1584px;
    width: 698px;
    height: 466px;
}

#phone-logo {
    left: 863px;
    top: 1694px;
    width: 158px;
    height: 65px;
}

#button3 {
    left: 846px;
    top: 2698px;
    z-index: 1;
}

#circle {
    left: -101px;
    top: 1964px;
    width: 1074px;
    height: 1007.33px;

}

#character3 {
    left: 332.16px;
    top: 2156px;
    z-index: 1;
    width: 454.69px;
    height: 569.05px;

}

#number1 {
    left: 828px;
    top: 2245px;
    width: 66px;
    height: 121px;

}

#number2 {
    left: 895px;
    top: 2372px;
    width: 120px;
    height: 131px;

}

#number3 {
    left: 835px;
    top: 2508px;
    width: 74px;
    height: 132px;

}

#icon1,
#icon2,
#icon3 {
    top: 3115px;
}

#icon1 {
    left: 378px;
    width: 126px;
    height: 126px;

}

#icon2 {
    left: 644px;
    width: 135px;
    height: 134px;

}

#icon3 {
    left: 935px;
    width: 135px;
    height: 134px;
}

#hands2 {
    left: 118px;
    top: 3506px;
    width: 618px;
    height: 476px;
}

#inside-the-hands {
    left: 370px;
    top: 3630px;
    width: 158px;
    height: 65px;
}

#event1 {
    left: 760px;
    top: 4160px;
    width: 400px;

}

#event2 {
    left: 350px;
    top: 4160px;
    width: 400px;

}

#event3 {
    left: 530px;
    top: 4495px;
    width: 500px;

}

#facebook,
#vk,
#instagram,
#youtube {
    top: 60px;
}

#facebook {
    left: 857px;
    width: 15px;
    height: 15px;

}

#vk {
    left: 890px;
    width: 15px;
    height: 16px;

}

#instagram {
    left: 921px;
    width: 15px;
    height: 15px;

}

#youtube {
    left: 953px;
    width: 15px;
    height: 15px;

}